body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

.converter {
    background: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #111;
    color: white;
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

header {
    width: 250px;
    background: #333;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding-top: 20px;
    overflow-y: auto; /* Make the navbar scrollable */
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    width: 250px;
    height: auto;
}

.menu {
    list-style: none;
    width: 100%;
    padding: 0;
}

.menu li {
    width: 100%;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background 0.3s;
}

.menu li a:hover, .menu li.active a {
    background: blueviolet;
    border-radius: 5px;
}

.dropdown .sub-menu {
    display: none;
    background: #444;
    padding: 10px 0;
    border-radius: 5px;
}

.dropdown:hover .sub-menu {
    display: block;
}

.sub-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sub-menu ul li a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: block;
    transition: background 0.3s;
}

.sub-menu ul li a:hover {
    background: blueviolet;
}

.content {
    margin-left: 250px;
    width: calc(100% - 250px); /* Ensure it fills the space to the right of the navbar */
    overflow-y: auto;
    height: 100vh; /* Ensure it takes full height */
    padding: 20px;
    box-sizing: border-box;
}
